.cache/
.DS_Store
.dockerignore
.env
.env*.local
.next/
.pnp
.pnp.js
.pnpm-debug.log*
.prisma/
.turbo
.vercel
*.pem
*.tsbuildinfo
build
bun.lockb
coverage
dist
docker-compose.override.yml
next-env.d.ts
node_modules
npm-debug.log*
out/
postgres_data
prisma/.env
prisma/migrations/dev/
yarn-debug.log*
yarn-error.log*
